.upg {
	min-height: 120px;
	width: 120px;
	border-radius: 25%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 10px;
	overflow: visible;
}

.achievement {
	height: 90px;
	width: 90px;
	border-radius: 25%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 10px;
	color: white;
	text-shadow: 0 0 2px #000000;
}
.achievement:hover {
	box-shadow: 0 0 10px var(--points);
	z-index: 7;
}

.buyable {
	height: 200px;
	width: 200px;
	border-radius: 25%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 10px;
	position:relative;
}

.milestone {
	width: 100%;
	min-width: 120px;
	padding-left: 5px;
	padding-right: 5px;
	height: 75px;
	background-color: #bf8f8f;
	border: 4px solid;
	border-radius: 4px;
	border-color: rgba(0, 0, 0, 0.125);
	color: rgba(0, 0, 0, 0.5);
}

.milestoneDone {
	width: 100%;
	min-width: 120px;
	padding-left: 5px;
	padding-right: 5px;

	height: 75px;
	background-color: #77bf5f;
	border: 4px solid;
	border-radius: 4px;
	border-color: rgba(0, 0, 0, 0.125);
	color: rgba(0, 0, 0, 0.5);
}

.challenge {
	background-color: #bf8f8f;
	position: relative;
	border: 4px solid;
	border-color: rgba(0, 0, 0, 0.125);
	color: rgba(0, 0, 0, 0.5);
	width: 300px;
	height: 300px;
	font-size: 15px;
	border-radius: 33.33%;
}

.challenge.done {
	background-color: #77bf5f;
}

.challenge.canComplete {
	background-color: #ffbf00;
}

/* Infoboxes */
.story {
    width: 600px;
    max-width: 95%;
    border-bottom: solid 3px;
    border-radius: 0px;
    margin-bottom: 8px;
    text-align: left;
}

.story-title {
    text-align: left;
    font-size: 24px;
    color: black;
    cursor: pointer;
    border: none;
    padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

.story-toggle {
    border: none;
    background: black;
    color: white;
    font-size: 20px;
    pointer-events: none;
    width: 1em;
    display: inline-block;
}

.story-text {
	padding: 5px;
    border: solid 3px;
    border-color: inherit;
    border-radius: 0px;
    border-top-left-radius: 0;
    margin-bottom: -3px;
}


/* Tiles are gridables */
.tile {
	height: 80px;
	width: 80px;
	border-radius: 15%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 10px;
	overflow: visible;
}

.tile.can:hover {
	box-shadow: 0 0 10px var(--points);
	transform: scale(1.1, 1.1);
	z-index: 7;
}

.upgBig {
	height: 200px;
	width: 200px;
	border-radius: 25%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
}

/* Used for respec button and similar */
.longUpg {
	height: 50px;
	width: 120px;
	background: var(--points);
	border-radius: 50%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 10px;
}

.smallUpg {
	height: 40px;
	width: 40px;
	border-radius: 25%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
}


@keyframes sigil_symbol {
	0% {text-shadow: 0 0 0px #fff;}
	50% {text-shadow: 0 0 12px #fff;}
	100% {text-shadow: 0 0 0px #fff;}
}

.sigilSymbol {
	font-size: 50px;
	height: 60px;
	width: 60px;
	border: 1px solid #fff;
	margin: 10px;
	box-shadow: 2px 2px white;
	animation-name: sigil_symbol;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.sideMenu {
	transition-duration: 0s;
	height: 50px;
	width: 80px;
	font-size: 30px;
	font-family: "Lucida Console", "Courier New", monospace;
	text-shadow: var(--hqProperty3);
	padding: 0;
	margin: 0 0px 10px 10px;
	border: none;
	color: #dfe6e9;
	background-color: transparent;
	text-shadow: 1px 1px 3px #333;
	--after-menu-main-color: var(--menu-main-color);
	--after-menu-sub-color: var(--menu-sub-color);
}


.sideMenu.menuCan:hover {
	color: var(--menu-main-color);
	text-shadow: 0 0 2px var(--menu-sub-color);
	--after-menu-main-color: #b2bec3;
	--after-menu-sub-color: #636e72;
}

.sideMenuLabel {
	transition-duration: 0s;
	font: inherit;
	font-family: inherit;
}

.sideMenu:hover {
    padding-right: 10px;
}


.sideMenu:after {
	transition-duration: 0s;
    content: "";
    position: relative;
    left: -10px;
    top: -10px;
    height: 20px;
    width: 80px;
    border-radius: 0px;
    border: 10px solid transparent;
    border-top-color: var(--after-menu-main-color);
    background-color: transparent;
    display: flex;
    border-right-width: 0;
	filter: drop-shadow(3px 3px var(--after-menu-sub-color)) ;
	z-index: -1;
}

.sideMenu:hover:after {
    left: -15px;
}

.menuNotify {
	filter: drop-shadow(3px 3px 10px red) ;
}


.itemList {
	position: absolute;
	top: 20px;
	left: 20px;
	color: #dfe6e9;
}

.itemRow {
	position: relative;
	left: 0px;
	text-align: left;
}

.itemName {
    position: relative;
    left: 0px;
    top: 0px;
    height: 29px;
    margin: 0;
    width: auto;
    text-align: left;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.itemName::after {
	transition-duration: 0s;
    content: "";
    position: relative;
    left: -8px;
    top: -22px;
    height: 10px;
    width: 40px;
    border-radius: 0px;
    border: 26px solid transparent;
    border-top-color: var(--item-color);
    background-color: transparent;
    display: flex;
    border-left-width: 0;
    border-bottom-width: 0;
    z-index: -1;
	filter: drop-shadow(5px 0px var(--item-sub-color)) ;
}

.itemNum {
	position: absolute;
	left: 80px;
	top: 0px;
	margin: 0;
	width: 200px;
	text-align: left;
}

